@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s;
}

html {
  /* ページ内リンクのスムーススクロール */
  @apply scroll-smooth;
}

/* カーソル選択時の色 */
::selection {
  @apply bg-accent-pale text-white;
}

body {
  @apply bg-white;
  /** 初期設定 */
  @apply font-serif text-base leading-relaxed text-gray-950;

  /* 下線のオフセット*/
  @apply underline-offset-2;

  /*テキスト入力カーソルの色*/
  @apply caret-accent;

  @apply bg-mistic;

  /*@apply bg-fixed;*/

  /*!* 60px間隔の格子模様 *!*/
  /*background-image:*/
  /*  linear-gradient(to right, theme(--color-primary-l) 0.5px, transparent 1px),*/
  /*  linear-gradient(to bottom, theme(--color-primary-l) 0.5px, transparent 1px);*/
  /*background-size: 60px 60px;*/
  /*background-position: center center;*/
}
/* About ページ */
.page-about {
  .entry-content {
    dt {
      @apply mb-2 border-b border-gray-200 font-bold;
    }
    dd {
      @apply mb-8 ml-0;
      .profile-icon {
        @apply mr-1 inline-block rounded-full;
      }
    }
  }
}

/* Archive */
.archive-header-category {
  @apply text-center;
}

.page-archive {
  .search-result,
  .archive-header-category {
    @apply my-8 flex flex-col;

    .archive-heading {
      @apply text-center text-2xl;
      animation: fadeInUp 0.6s ease-out;
    }

    .search-result-form {
      @apply mx-auto my-2;
    }
  }

  .archive-entries {
    @apply grid grid-cols-2;

    .archive-entry {
      @apply p-1 flex flex-col gap-2 text-sm;
      /*@apply leading-snug;*/

      .archive-entry-header {
        .archive-date {
          @apply text-xs;
        }

        .entry-title {
          @apply my-1;
          a {
            @apply line-clamp-2;
          }
        }
      }

      .categories {
        @apply flex flex-wrap gap-2;
        a {
          @apply styleset-category-badge;
        }
      }

      .entry-thumb-link {
        @apply order-first;
        .entry-thumb {
          @apply m-0! h-auto!;
          @apply aspect-16/9 w-full rounded bg-cover bg-center;
        }
      }

      .archive-entry-body {
        @apply justify-self-end;
        .entry-description {
          @apply m-0 line-clamp-3 text-xs;
        }

        .archive-entry-tags {
          @apply flex flex-wrap justify-end gap-1;
        }

        .social-buttons {
          @apply mt-1 block;
        }
      }
    }
  }
}
